app.yaml
auth.json
conf/
.metadata/
.buildpath
.project
.git
!.gitignore
.settings/
.DS_Store
composer.phar
.vagrant/*
vendor/*
plugins/Amazon/xsds/
/build/*
/config/app.php
/config/app.old.php
/config/plugins.php
logs/*
!/tmp/empty
/import/*
.idea/
bin/var-dump-server
bin/phinx
bin/phpunit
bin/flex_exec
bin/google-cloud-batch
bin/pdepend
bin/php-parse
bin/phpcbf
bin/phpcs
bin/phpmd
bin/phpstan
bin/phpstan.phar
bin/psysh
.ebextensions
generated-reversed-database/
/plugins/Crud/
plugins/Invoice/webroot/html_templates/*
plugins/Invoice/webroot/invoices/*
plugins/Invoice/invoice_templates/*
plugins/Invoice/invoices/*
plugins/FeedProcessor/webroot/PRODUCT_EXPORT/*
plugins/FeedProcessor/product_export/*
plugins/FeedProcessor/webroot/product_images/*
plugins/Mip/webroot/mip_templates/*
plugins/Mip/webroot/mip_feeds/*
plugins/Magmi/webroot/products/*
plugins/Magmi/webroot/updates/*
!plugins/EbayCheckout/webroot/
plugins/UpsShipment/webroot/ups_webservice_wsdls/*
plugins/PdfGenerator/webroot/img/
plugins/Locafox/export/*
webroot/img/feeder_categories/image/
webroot/img/feeder_categories/background/
webroot/img/feeder_hero_items/
webroot/img/feeder_homepages/
*.lock
/bin/composer
/bin/jsonlint
/bin/validate-json
/bin/cake.bat
/bin/phinx.bat
/bin/phpunit.bat
!/plugins/BraintreePayment/webroot/
node_modules
.sass-cache
## Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.elasticbeanstalk/
/logs/
/push2dev.sh
/mergedev.sh
/mergnpush.sh
/webroot/img/feeder_homepages/
/vendor/
/tmp/
/webroot/img/feeder_worlds/
/webroot/img/feeder_homepage_midpage_containers/
/webroot/img/feeder_fizzy_bubbles/
/webroot/img/feeder_categories_video_elements/
/plugins/CatchTheme/react/src/config/app.json
