/* line 4, src/checkout.scss */
body.ebaycheckout.ebaycheckoutsessions.view .content-container-row {
  padding-bottom: 15px;
}

/* line 9, src/checkout.scss */
iframe.xcomponent-component-frame {
  z-index: 2 !important;
}

/* line 13, src/checkout.scss */
.mobile-only {
  display: none;
}

/* line 17, src/checkout.scss */
#header {
  z-index: 102 !important;
}

/* line 22, src/checkout.scss */
#content .content-container-row {
  background: #f0eeec;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  width: calc(100% - 15px);
  height: 100%;
  padding-top: 24px;
  z-index: 1;
}
/* line 32, src/checkout.scss */
#content .content-container-row .content-area {
  background: #f0eeec;
  position: relative;
}

/* line 39, src/checkout.scss */
.error-message {
  color: #F22823;
  padding-bottom: 5px;
}

/* line 44, src/checkout.scss */
div.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 101;
  top: 0;
  left: 0;
}
/* line 52, src/checkout.scss */
div.loader .animated-loader {
  background: url(../../img/catch-loader-500.gif) no-repeat -14px center;
  background-size: 180px;
  width: 180px;
  height: 160px;
  margin: 210px auto 0;
  font-family: visuelt-bold;
  color: #F5A623;
  text-align: center;
  padding-top: 140px;
  line-height: 20px;
  font-size: 14px;
}

/* line 67, src/checkout.scss */
body > div.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .8;
  z-index: 9;
  border-radius: 3px;
  margin-left: 0;
  margin-top: 0;
  overflow: visible;
}

/* Form default */
/* line 81, src/checkout.scss */
div.select label, div.input label {
  display: none;
}

/* line 85, src/checkout.scss */
div.row-name, div.row-email {
  margin-top: 0;
}

/* Widget defaults*/
/* line 91, src/checkout.scss */
.widget .widget-body {
  position: relative;
}

/* line 95, src/checkout.scss */
#the-holy-shipping-address-edit,
#the-holy-billing-address-edit,
#the-holy-payment-change-button {
  font-size: 13px;
  font-family: visuelt-bold;
  color: #C0BCB7;
  cursor: pointer;
}

/* line 104, src/checkout.scss */
#the-holy-payment-change-button:hover,
#the-holy-shipping-address-edit:hover,
#the-holy-billing-address-edit:hover {
  text-decoration: underline;
}

/* line 110, src/checkout.scss */
.catch-checkbox {
  position: relative;
}
/* line 112, src/checkout.scss */
.catch-checkbox input[type=checkbox] {
  cursor: pointer;
  visibility: hidden;
  height: 16px;
  width: 23px;
}
/* line 117, src/checkout.scss */
.catch-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/* line 121, src/checkout.scss */
.catch-checkbox label {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 15px;
  background: #fff;
  border: 1px solid #969594;
  cursor: pointer;
}
/* line 130, src/checkout.scss */
.catch-checkbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #F5A623;
  border-radius: 7px;
  top: 7px;
  left: 7px;
}

/* line 144, src/checkout.scss */
p.info {
  font-size: 11px;
  line-height: 16px;
  color: #969594;
  margin: 0;
}

/* Item widget*/
/* line 152, src/checkout.scss */
.item-widget-wrapper {
  background: #fff;
  padding: 10px 14px 0;
  margin-bottom: 24px;
}
/* line 156, src/checkout.scss */
.item-widget-wrapper .article-count {
  font-family: visuelt-bold;
}
/* line 159, src/checkout.scss */
.item-widget-wrapper .checkout-back-button {
  font-size: 12px;
  line-height: 24px;
  font-family: visuelt-bold;
  text-align: right;
}
/* line 164, src/checkout.scss */
.item-widget-wrapper .checkout-back-button a {
  color: #C0BCB7;
}
/* line 166, src/checkout.scss */
.item-widget-wrapper .checkout-back-button a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 172, src/checkout.scss */
.item-widget-wrapper .item-widget {
  border-top: 1px solid #969594;
}
/* line 174, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body {
  padding: 10px 0 13px;
}
/* line 176, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .product-image-box {
  text-align: center;
}
/* line 178, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .product-image-box .product-image {
  max-width: 46px;
  max-height: 46px;
}
/* line 183, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper {
  font-size: 13px;
  padding-left: 0;
}
/* line 186, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper p {
  margin: 0;
  padding: 0;
}
/* line 190, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .price {
  font-family: visuelt-bold;
  font-size: 16px;
  display: none;
}
/* line 195, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .price.discounted .base-price {
  color: #F5A623;
}
/* line 198, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .price.discounted .original-price {
  font-size: 13px;
  color: #C0BCB7;
  text-decoration: line-through;
}
/* line 205, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .title {
  font-family: visuelt-bold;
  margin-bottom: 3px;
}
/* line 209, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .delivery-options-link {
  color: #F9B500;
  font-family: visuelt-bold;
}
/* line 212, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-info-wrapper .delivery-options-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 219, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-price {
  text-align: right;
  padding-left: 0;
  font-family: visuelt-bold;
  font-size: 16px;
  display: block;
}
/* line 226, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-price.discounted .base-price {
  color: #F5A623;
}
/* line 229, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .item-price.discounted .original-price {
  font-size: 13px;
  text-decoration: line-through;
  color: #C0BCB7;
}
/* line 236, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options {
  padding-left: 0;
}
/* line 238, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper {
  width: 359px;
  padding-top: 5px;
  font-size: 13px;
}
/* line 242, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper p {
  margin: 0;
}
/* line 245, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options {
  border: 1px solid #969594;
}
/* line 247, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option {
  position: relative;
  padding: 4px 30px 4px 4px;
  height: auto;
  border-bottom: 1px solid #969594;
}
/* line 252, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option .delivery-info {
  line-height: 16px;
}
/* line 255, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option:last-child {
  border-bottom: none;
}
/* line 258, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option .delivery-option-name {
  font-family: visuelt-bold;
}
/* line 261, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option.selected {
  background: #F0EEEC url(../../img/tick.png) no-repeat 95%;
}
/* line 264, src/checkout.scss */
.item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option input {
  width: 349px;
  height: 46px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 282, src/checkout.scss */
.no-items-alert.widget-title {
  padding: 0;
}

/* line 286, src/checkout.scss */
.alert-success {
  background: #03ccde;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 70px 10px 15px;
  color: white;
  margin-bottom: 15px;
  position: relative;
}
/* line 295, src/checkout.scss */
.alert-success button {
  background-color: #03ccde;
  border: none;
  width: 40px;
  height: 40px;
  color: white;
  font-family: visuelt-bold;
  font-size: 24px;
  margin-right: 8px;
}
/* line 304, src/checkout.scss */
.alert-success button:focus {
  outline: none;
}
/* line 307, src/checkout.scss */
.alert-success button:hover {
  cursor: pointer;
}
/* line 311, src/checkout.scss */
.alert-success .alert-icon {
  position: absolute;
  top: 13px;
  right: 23px;
  height: 33px;
  width: 33px;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
  line-height: 32px;
  cursor: default;
}

/* Shipping Address Widget */
/* line 326, src/checkout.scss */
.shipping-address-widget {
  margin-bottom: 25px;
  background: #fff;
  padding: 10px 14px 15px;
}
/* line 330, src/checkout.scss */
.shipping-address-widget .widget-title {
  font-size: 16px;
  font-family: visuelt-bold;
  margin-bottom: 14px;
}
/* line 334, src/checkout.scss */
.shipping-address-widget .widget-title h4 {
  margin: 0;
}
/* line 338, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row {
  margin-bottom: 6px;
}
/* line 341, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .input input, .shipping-address-widget #shipping-address-form-row .input select {
  height: 38px;
  border: 1px solid #969594;
  border-radius: 0;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 350, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .input #country:disabled {
  background-color: #F0EEEC;
  color: #000000;
  font-size: 16px;
  padding: 0 10px;
}
/* line 356, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .input input {
  line-height: 38px;
}
/* line 360, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row {
  margin-top: 27px;
}
/* line 362, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row .info-wrapper {
  padding-top: 4px;
}
/* line 364, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row .info-wrapper a {
  color: #F5A623;
  font-family: visuelt-bold;
}
/* line 369, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row .button-wrapper {
  text-align: right;
  padding-top: 4px;
}
/* line 373, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row .info-wrapper-mobile {
  display: none;
}
/* line 375, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .button-row .info-wrapper-mobile a {
  color: #F5A623;
  font-family: visuelt-bold;
}
/* line 382, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .row-save-message .save-message {
  font-size: 16px;
}
/* line 386, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .checkbox-wrapper {
  display: inline-block;
  width: 23px;
  margin-right: 12px;
}
/* line 390, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .checkbox-wrapper div.input {
  margin: 0;
}
/* line 392, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .checkbox-wrapper div.input input {
  padding: 0;
  height: 16px;
}
/* line 396, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .checkbox-wrapper div.input label {
  display: block;
}
/* line 401, src/checkout.scss */
.shipping-address-widget #shipping-address-form-row .checkbox-info {
  display: inline-block;
  width: calc(100% - 43px);
}
/* line 406, src/checkout.scss */
.shipping-address-widget #shipping-address-block-row {
  margin-top: -11px;
}
/* line 408, src/checkout.scss */
.shipping-address-widget #shipping-address-block-row address {
  font-size: 13px;
}
/* line 410, src/checkout.scss */
.shipping-address-widget #shipping-address-block-row address p {
  margin: 0;
}
/* line 414, src/checkout.scss */
.shipping-address-widget #shipping-address-block-row #the-holy-shipping-address-edit {
  position: absolute;
  top: -26px;
  right: 15px;
}

/* Apply Coupon */
/* line 423, src/checkout.scss */
.apply-coupon-widget {
  background: #fff;
  margin-bottom: 12px;
  padding: 19px 21px 27px 14px;
}
/* line 428, src/checkout.scss */
.apply-coupon-widget .widget-body .widget-title {
  margin-bottom: 10px;
}
/* line 430, src/checkout.scss */
.apply-coupon-widget .widget-body .widget-title h4 {
  font-family: visuelt-bold;
  margin: 0;
}
/* line 436, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .error-message-row {
  margin-bottom: -12px;
}
/* line 438, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .error-message-row .error-message {
  font-size: 13px;
  line-height: 18px;
}
/* line 443, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .input {
  margin: 10px 0 0;
}
/* line 445, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .input input {
  padding: 5.5px 14px 7.5px;
}
/* line 447, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .input input::placeholder {
  color: #969594;
}
/* line 452, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .button-wrapper {
  text-align: right;
  padding-top: 9px;
}
/* line 455, src/checkout.scss */
.apply-coupon-widget .widget-body #apply-coupon-form-row .button-wrapper #the-holy-apply-coupon-submit {
  width: 204px;
}
/* line 461, src/checkout.scss */
.apply-coupon-widget #apply-coupon-disabled .col-12 {
  text-align: center;
}

/* Payment Widget */
/* line 467, src/checkout.scss */
.payment-widget {
  margin-bottom: 0;
  background: #fff;
  padding: 13px 14px;
}
/* line 471, src/checkout.scss */
.payment-widget .loader {
  margin-left: 0;
  margin-top: 0;
}
/* line 477, src/checkout.scss */
.payment-widget.enabled .widget-body .payment-method .payment-method-header .shipping-address-info-wrapper, .payment-widget.enabled .widget-body .payment-method .payment-method-header .payment-method-images, .payment-widget.disabled.payment-entered .widget-body .payment-method .payment-method-header .shipping-address-info-wrapper, .payment-widget.disabled.payment-entered .widget-body .payment-method .payment-method-header .payment-method-images {
  display: none;
}
/* line 486, src/checkout.scss */
.payment-widget.disabled .widget-body .payment-method .payment-method-header .payment-method-title-row, .payment-widget.enabled .widget-body .payment-method .payment-method-header .payment-method-title-row {
  display: none;
}
/* line 493, src/checkout.scss */
.payment-widget.disabled.payment-entered {
  margin-bottom: 110px;
}
/* line 495, src/checkout.scss */
.payment-widget.disabled.payment-entered .widget-body .payment-method .payment-method-header .payment-method-title-row {
  display: flex;
}
/* line 500, src/checkout.scss */
.payment-widget .widget-body .widget-title {
  font-family: visuelt-bold;
  font-size: 16px;
  margin-bottom: 3px;
}
/* line 504, src/checkout.scss */
.payment-widget .widget-body .widget-title h4 {
  margin: 0;
}
/* line 510, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .shipping-address-info-wrapper {
  font-size: 13px;
  color: #010101;
}
/* line 513, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .shipping-address-info-wrapper p {
  margin: 0;
}
/* line 517, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-images {
  background: url(../../img/de-pp_plus-logo-hoch_ohne_PUI_plain.png) no-repeat;
  background-size: 256px 28px;
  height: 28px;
  margin-top: 13px;
  opacity: 0.3;
}
/* line 524, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row {
  display: flex;
}
/* line 527, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row .payment-method-title p {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  float: left;
}
/* line 533, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row .payment-method-title .tick-div {
  background: url(../../img/tick.png) 4px no-repeat;
  float: left;
  height: 18px;
  width: 20px;
  margin-left: 6px;
}
/* line 541, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row #the-holy-payment-change-button {
  position: absolute;
  top: -24px;
  right: 15px;
}
/* line 546, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row input {
  display: none;
}
/* line 549, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-title-row .payment-confirmation {
  font-size: 13px;
}
/* line 554, src/checkout.scss */
.payment-widget .widget-body .payment-method .payment-method-header .payment-method-body p.info {
  color: #010101;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 11px;
}

/* Sidebar sticky */
@media only screen and (min-width: 1024px) {
  /* line 566, src/checkout.scss */
  .order-wrapper {
    z-index: 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 571, src/checkout.scss */
  #order-widget-sidebar {
    position: absolute;
    width: 100%;
    max-width: 979px;
    margin-bottom: 74px;
  }
}
@media only screen and (min-width: 1400px) {
  /* line 571, src/checkout.scss */
  #order-widget-sidebar {
    position: fixed;
    max-width: 1355px;
    margin-bottom: 0;
  }
}

/* Progress Widget */
/* line 586, src/checkout.scss */
.progress-widget {
  margin-bottom: 14px;
  padding: 0 15px;
}
/* line 589, src/checkout.scss */
.progress-widget .progress-wrapper {
  background: #c0bcb7;
  padding: 17px 0;
}
/* line 592, src/checkout.scss */
.progress-widget .progress-wrapper .connector {
  position: absolute;
  border: 1px solid #fff;
  opacity: 0.6;
  top: 30px;
  width: 92px;
}
/* line 598, src/checkout.scss */
.progress-widget .progress-wrapper .connector.active {
  opacity: 1;
}
/* line 601, src/checkout.scss */
.progress-widget .progress-wrapper .connector.first {
  left: 47px;
}
/* line 604, src/checkout.scss */
.progress-widget .progress-wrapper .connector.second {
  left: 152px;
}
/* line 607, src/checkout.scss */
.progress-widget .progress-wrapper .connector.third {
  left: 257px;
}
/* line 611, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part {
  text-align: center;
  padding: 0 5px;
}
/* line 614, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part p {
  font-size: 13px;
  margin: 0;
  color: #fff;
  font-family: visuelt-bold;
  opacity: 0.6;
}
/* line 621, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part .para {
  display: block;
}
/* line 624, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part .sd-para {
  display: none;
}
/* line 627, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part .progress-point {
  display: inline-block;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 11px;
  line-height: 18px;
  color: #C0BCB7;
  font-family: visuelt-bold;
  margin-bottom: 7px;
}
/* line 642, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part.outstanding .progress-point {
  background: #C0BCB7;
  color: #f7f5f3;
}
/* line 648, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part.active p {
  opacity: 1;
}
/* line 653, src/checkout.scss */
.progress-widget .progress-wrapper .progress-part.done .progress-point {
  color: transparent;
  background: #fff url(../../img/tick.png) no-repeat 50%;
}
/* line 661, src/checkout.scss */
.progress-widget .information-wrapper {
  color: #fff;
  text-align: center;
  background: #F9B500;
  font-size: 13px;
  padding: 5px 0 7px;
}
/* line 667, src/checkout.scss */
.progress-widget .information-wrapper .progress-message {
  line-height: 18px;
  font-family: visuelt-bold;
}

/* Totals Widget */
/* line 676, src/checkout.scss */
.totals-widget .widget-body {
  background: #fff;
  margin-bottom: 12px;
  padding: 20px 24px 30px 21px;
}
/* line 680, src/checkout.scss */
.totals-widget .widget-body .widget-title {
  margin-bottom: 18px;
}
/* line 682, src/checkout.scss */
.totals-widget .widget-body .widget-title h4 {
  font-family: visuelt-bold;
  margin: 0;
}
/* line 687, src/checkout.scss */
.totals-widget .widget-body .priceSubtotal-totals {
  font-size: 12px;
}
/* line 690, src/checkout.scss */
.totals-widget .widget-body .totals {
  padding-bottom: 3px;
  font-size: 13px;
}
/* line 693, src/checkout.scss */
.totals-widget .widget-body .totals .total-price {
  text-align: right;
}
/* line 698, src/checkout.scss */
.totals-widget .widget-body .total-totals .bold-font, .totals-widget .widget-body .total-totals .total-price {
  font-family: visuelt-bold;
}
/* line 701, src/checkout.scss */
.totals-widget .widget-body .total-totals .col {
  padding-left: 0;
  padding-right: 0;
}
/* line 705, src/checkout.scss */
.totals-widget .widget-body .total-totals.row {
  margin: 0 0 17px;
}
/* line 709, src/checkout.scss */
.totals-widget .widget-body .legal-messages {
  margin-bottom: 21px;
}
/* line 712, src/checkout.scss */
.totals-widget .widget-body .legal-messages .ebay-legal .info a {
  font-family: visuelt-bold;
  color: #969594;
}
/* line 718, src/checkout.scss */
.totals-widget .widget-body .button-wrapper {
  text-align: center;
}
/* line 720, src/checkout.scss */
.totals-widget .widget-body .button-wrapper .redesign-button {
  width: 281px;
}
/* line 725, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense {
  margin-bottom: 12px;
}
/* line 727, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper {
  background-color: #FFFFFF;
  padding: 13px 21px 13px 19px;
  color: #58595b;
  font-size: 13px;
  line-height: 18px;
}
/* line 733, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper input[type=checkbox] {
  margin-right: 15px;
}
/* line 736, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper .catch-checkbox {
  margin-bottom: 11px;
}
/* line 738, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper .catch-checkbox label {
  left: 15px;
  width: 21px;
  height: 21px;
}
/* line 742, src/checkout.scss */
.totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper .catch-checkbox label:after {
  left: 6px;
  top: 6px;
}
/* line 751, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee {
  background: #fff;
  padding: 9px 25px;
}
/* line 754, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee a {
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  color: #C0BCB7;
  font-family: visuelt-bold;
}
/* line 761, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .ebay-money-back-image {
  float: left;
  background: url(../../img/sprEBPnew.png) no-repeat;
  background-size: 250px 130px;
  width: 235px;
  height: 30px;
  display: inline-block;
}
/* line 768, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .ebay-money-back-image.guarantee-image-de {
  background-position-x: 0;
  background-position-y: -52px;
}
/* line 772, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .ebay-money-back-image.guarantee-image-us, .totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .ebay-money-back-image.guarantee-image-gb {
  background-position-x: 0;
  background-position-y: -78px;
}
/* line 777, src/checkout.scss */
.totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .guarantee-details {
  height: 30px;
  width: calc(100% - 240px);
  display: inline-block;
  text-align: right;
}

@media only screen and (min-width: 1400px) {
  /* line 2, src/_checkout-rwd.scss */
  #content .content-container-row {
    min-height: 700px;
  }
}
@media only screen and (min-width: 1400px) and (min-height: 800px) {
  /* line 8, src/_checkout-rwd.scss */
  #content .content-container-row {
    min-height: 87vh;
  }
}
@media (max-width: 1399px) {
  /* line 15, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .item-info-wrapper, .item-widget-wrapper .item-widget .widget-body .shipping-options {
    padding-left: 30px;
  }

  /* line 21, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .progress-part {
    padding: 0 5px;
  }
  /* line 24, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector {
    width: 60px;
  }
  /* line 26, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.first {
    left: 31px;
  }
  /* line 29, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.second {
    left: 105px;
  }
  /* line 32, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.third {
    left: 179px;
  }

  /* line 39, src/_checkout-rwd.scss */
  .totals-widget .widget-body .button-wrapper .redesign-button {
    width: 230px;
  }
  /* line 43, src/_checkout-rwd.scss */
  .totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .ebay-money-back-image {
    width: 200px;
  }
  /* line 46, src/_checkout-rwd.scss */
  .totals-widget .ebay-money-back-guarantee-wrapper .ebay-money-back-guarantee .guarantee-details {
    width: calc(100% - 200px);
  }
}
@media (max-width: 1399px) and (min-width: 1024px) {
  /* line 56, src/_checkout-rwd.scss */
  body #content .container {
    max-width: 994px;
  }
  /* line 59, src/_checkout-rwd.scss */
  body #content .content-container-row {
    min-height: 100vh;
  }

  /* line 64, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .progress-part .para {
    display: none;
  }
  /* line 67, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .progress-part .sd-para {
    display: block;
  }
}
@media (max-width: 1399px) and (min-width: 1024px) and (max-height: 934px) {
  /* line 74, src/_checkout-rwd.scss */
  #content .content-container-row {
    min-height: 750px;
  }
}
@media (max-width: 1023px) {
  /* line 81, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content {
    padding-top: 94px;
  }

  /* line 85, src/_checkout-rwd.scss */
  body {
    background-position-y: 105px;
  }

  /* line 88, src/_checkout-rwd.scss */
  #content .content-container-row {
    padding-top: 103px;
  }

  /* line 91, src/_checkout-rwd.scss */
  .payment-widget {
    margin-bottom: 23px;
  }

  /* line 94, src/_checkout-rwd.scss */
  .progress-widget {
    z-index: 101;
    position: fixed;
    top: 95px;
    left: 0;
    width: 100%;
  }
  /* line 100, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper {
    padding: 15px 0;
  }
  /* line 102, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector {
    width: 24.5%;
    top: 28px;
  }
  /* line 105, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.first {
    left: 12%;
  }
  /* line 108, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.second {
    left: 38%;
  }
  /* line 111, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector.third {
    left: 63.47%;
  }
  /* line 116, src/_checkout-rwd.scss */
  .progress-widget .information-wrapper {
    display: none;
  }

  /* line 120, src/_checkout-rwd.scss */
  .orange-message {
    display: none;
  }

  /* line 124, src/_checkout-rwd.scss */
  .totals-widget .widget-body {
    padding: 16px 21px 23px;
    margin-bottom: 24px;
  }
  /* line 127, src/_checkout-rwd.scss */
  .totals-widget .widget-body .button-wrapper .redesign-button {
    width: 259px;
  }
  /* line 131, src/_checkout-rwd.scss */
  .totals-widget .ebay-marketing-nonsense .ebay-marketing-nonsense-wrapper {
    line-height: 14px;
  }
}
@media (max-width: 1023px) {
  /* line 138, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content {
    padding-top: 80px;
  }
  /* line 140, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content .progress-widget {
    top: 60px;
  }
}
@media (max-width: 767px) {
  /* line 147, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content {
    padding-top: 102px;
  }
  /* line 149, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content .progress-widget {
    top: 60px;
  }

  /* line 153, src/_checkout-rwd.scss */
  .item-widget-wrapper {
    padding: 9px 18px 11px 22px;
  }
  /* line 157, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .item-info-wrapper {
    padding-left: 0;
  }
  /* line 159, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .item-info-wrapper .price {
    display: block;
  }
  /* line 163, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .item-price {
    display: none;
  }
  /* line 166, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .placeholder {
    display: none;
  }
  /* line 169, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .shipping-options {
    padding-left: 15px;
  }
  /* line 171, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper {
    width: 100%;
  }

  /* line 179, src/_checkout-rwd.scss */
  .progress-widget {
    top: 50px;
  }
  /* line 181, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper {
    padding: 3px 0 8px;
  }
  /* line 183, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .connector {
    top: 16px;
  }
  /* line 187, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .progress-part p {
    font-size: 10px;
    line-height: 12px;
  }
  /* line 191, src/_checkout-rwd.scss */
  .progress-widget .progress-wrapper .progress-part .progress-point {
    margin-bottom: 5px;
  }

  /* line 198, src/_checkout-rwd.scss */
  .shipping-address-widget {
    padding: 10px 20px 14px;
  }
  /* line 202, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .input #country:disabled {
    border-radius: 5px;
  }
  /* line 205, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .input input {
    border-radius: 5px;
    padding: 10px 15px;
  }
  /* line 210, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .row-phone-number .input {
    margin-bottom: 3px;
  }
  /* line 212, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .row-phone-number .input .info {
    padding-top: 4px;
  }
  /* line 216, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .checkbox-wrapper {
    margin-right: 14px;
  }
  /* line 219, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .row-save-message {
    margin-top: 18px;
  }
  /* line 223, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .button-row .info-wrapper {
    display: none;
  }
  /* line 226, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .button-row .info-wrapper-mobile {
    display: block;
    margin-top: 19px;
  }
  /* line 230, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .button-row .button-wrapper {
    text-align: center;
  }
  /* line 232, src/_checkout-rwd.scss */
  .shipping-address-widget #shipping-address-form-row .button-row .button-wrapper .redesign-button {
    width: 213px;
    padding: 0;
  }

  /* line 241, src/_checkout-rwd.scss */
  .payment-widget {
    margin-bottom: 24px;
    padding: 14px 20px;
  }
  /* line 244, src/_checkout-rwd.scss */
  .payment-widget .widget-body .payment-method .payment-method-header .payment-method-images {
    background-position: 50%;
  }

  /* line 250, src/_checkout-rwd.scss */
  .totals-widget .widget-body {
    padding: 7px 18px 26px;
  }
  /* line 252, src/_checkout-rwd.scss */
  .totals-widget .widget-body .widget-title {
    margin-bottom: 10px;
  }

  /* line 258, src/_checkout-rwd.scss */
  #content {
    padding: 40px 0 0;
  }
  /* line 260, src/_checkout-rwd.scss */
  #content .content-container-row {
    padding-bottom: 10px;
    width: 100%;
    padding-top: 20px;
  }
  /* line 264, src/_checkout-rwd.scss */
  #content .content-container-row .container {
    padding: 0 10px;
  }

  /* line 271, src/_checkout-rwd.scss */
  .alert-success {
    padding-left: 8px;
  }
  /* line 273, src/_checkout-rwd.scss */
  .alert-success button {
    margin-right: 0;
  }
}
/* Mobile */
@media (max-width: 480px) {
  /* line 282, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .item-info-wrapper {
    padding-left: 20px;
  }
  /* line 285, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option {
    height: auto;
  }
  /* line 287, src/_checkout-rwd.scss */
  .item-widget-wrapper .item-widget .widget-body .shipping-options .shipping-options-wrapper .delivery-options .delivery-option input {
    width: 100%;
  }
}
@media (max-width: 444px) {
  /* line 295, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content {
    padding-top: 102px;
  }
}
@media (max-width: 314px) {
  /* line 301, src/_checkout-rwd.scss */
  body.ebaycheckout.ebaycheckoutsessions.view #content {
    padding-top: 102px;
  }
}
@media all and (-ms-high-contrast: none) {
  /* line 307, src/_checkout-rwd.scss */
  div.input label {
    font-size: 13px;
  }

  /* line 311, src/_checkout-rwd.scss */
  .item-widget .product-image-wrapper {
    margin-left: -10px;
  }
}
@supports (-ms-ime-align: auto) {
  /* line 317, src/_checkout-rwd.scss */
  div.input label {
    font-size: 13px;
  }
}
@media (min-width: 769px) {
  /* line 323, src/_checkout-rwd.scss */
  body.ios > div.container {
    max-width: 733px;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
@media (min-width: 940px) {
  /* line 331, src/_checkout-rwd.scss */
  body.ios > div.container {
    max-width: 940px;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
/* line 338, src/_checkout-rwd.scss */
body.ios .payment-method-cc label {
  font-size: 13px !important;
  margin-top: -50px !important;
}

/* line 3, src/_common.scss */
body.ebaycheckout #header .container .magic span#search-switch,
body.ebaycheckout #header .container .magic span#wishlist,
body.ebaycheckout #header .container .magic span#mini-cart-icon {
  display: none !important;
}
/* line 9, src/_common.scss */
body.ebaycheckout #header #orange-message-container {
  display: none !important;
}
/* line 12, src/_common.scss */
body.ebaycheckout #header .search-wrapper {
  display: none !important;
}

/* line 17, src/_common.scss */
div.widget-wrapper.warning {
  background: white;
  border: solid 2px #f7801a;
}
/* line 20, src/_common.scss */
div.widget-wrapper.warning button.close {
  display: none;
}
/* line 23, src/_common.scss */
div.widget-wrapper.warning p {
  color: #f7801a;
  margin-bottom: 0;
  margin-left: 47px;
  position: relative;
  text-align: left;
}
/* line 29, src/_common.scss */
div.widget-wrapper.warning p::before {
  border: solid 2px #f7801a;
  border-radius: 50%;
  content: '!';
  font-size: 23px;
  height: 41px;
  left: -54px;
  position: absolute;
  text-align: center;
  width: 41px;
}

/* line 43, src/_common.scss */
div.qty-wrapper {
  background-color: white;
  border: 1px solid #969594;
  display: inline-block;
  padding: 6px 8px 6px 10px;
}
/* line 48, src/_common.scss */
div.qty-wrapper > label {
  margin: 0;
}
/* line 51, src/_common.scss */
div.qty-wrapper > select {
  -webkit-appearance: none;
  background-image: url("../img/arrow-down.svg");
  background-position: right 2px;
  background-repeat: no-repeat;
  background-size: 18px;
  border: none;
  margin: 0;
  padding-right: 22px;
}
/* line 60, src/_common.scss */
div.qty-wrapper > select > option {
  padding-inline-end: 0;
  padding-inline-start: 0;
}

/* line 67, src/_common.scss */
span.item-widget .widget-body .qty select {
  -webkit-appearance: none;
  background: url(../../img/select-triangle.png) no-repeat 74% white;
  background-size: 10px;
  border: 1px solid #EBEBEB;
  border-radius: 0;
  width: 70px;
  padding: 10px 10px 10px 12px;
  float: left;
  height: 38px;
  color: #555555;
}

/*# sourceMappingURL=checkout.css.map */
