@media (max-width: 767px) {

    .loading-animator {
        height: 3px;
    }

    #homepage-contents {
        .container {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
